<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InsertImage</servlet-name>
        <servlet-class>Servlet.InsertImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveImage</servlet-name>
        <servlet-class>Servlet.RetrieveImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>ServletCaller.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>ServletCaller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAuth</servlet-name>
        <servlet-class>Servlet.LoginAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>ServletCaller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Availability</servlet-name>
        <servlet-class>Servlet.Availability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registered</servlet-name>
        <servlet-class>Servlet.Registered</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inquiry</servlet-name>
        <servlet-class>ServletCaller.Inquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>Servlet.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>Servlet.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InquiryPage</servlet-name>
        <servlet-class>Admin.InquiryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertImage</servlet-name>
        <url-pattern>/InsertImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveImage</servlet-name>
        <url-pattern>/RetrieveImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAuth</servlet-name>
        <url-pattern>/LoginAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Availability</servlet-name>
        <url-pattern>/Availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registered</servlet-name>
        <url-pattern>/Registered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inquiry</servlet-name>
        <url-pattern>/Inquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InquiryPage</servlet-name>
        <url-pattern>/InquiryPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
