#registerbody{
    max-width: 900px;
    min-width: 900px;
    min-height: 1000px;
    margin: auto;
    border-radius: 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(2,2,2,0.91) ;
    box-shadow: 1px 1px 47px -9px rgba(2,2,2,0.91);
}

#registerform{
    width: 70%;
    margin: auto;
    position: relative;
    top: 50px;
}

.regtitle{
    min-height: 80px;
    max-height: 80px;
    margin: 20px 0;
    padding: 20px 0;
    font-size: 30px;
}

.input{
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 30px -9px rgba(2,2,2,0.91) ;
}

.label1{
    font-size: 13px;
    color: black;
    max-width: 100px;
    min-width: 100px;
    margin: 0px 20px 0 0;
    padding-top: 5px;
}

.sublabel{
    font-size: 10px;
    color: #888;
}

.input{
    margin: 0 10px 0 0;
}

.trtr{
    vertical-align: middle;
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    clear: left;
}

.inline1{
    float:left;
}

.td{
    margin: 5px;
}

.stat{
    position: absolute;
}

#error-msg{
  color: red;
}

#valid-msg{
  color:green;
}





